<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/babbage.css">
	<title>Babbage</title>
</head>
<body>
	<header>
		<h1> Charles Babbage </h1>
	</header>
	<section>
		<article>
			<img src="/static/img/babbage/babbage.jpg" alt="Charles Babbage" width="500" height="500" />
		<article>
		<p> Charles Babbage was an English multidisciplinary scientist who is considered to be one of the fathers of the computer. </p>

		<p> Babbage built a mechanical computer, or a device made of levers, gears, or other moving parts that could compute perform automated calculations rather than a device made of modern computer hardware. The more advanced of his former iterations of a functioning mechanical computer was his Analytical Engine, the 1837 successor to his earlier Difference Engine. These devices could be programmed to perform a set of operations and indeed he proposed his Analytical Engine as a general purpose computer that had more than just straightforward mathematical (such as financial) calculations. </p>
		<p> Babbage is perhaps the foremost contributor to our concept of a modern computer. He is instrumental to our current thinking, having created a computer that is a mechanical prototype to today’s differently-designed computers, for example having several applications to its use.  </p>

	</section>
	<section>
		<a href="/"> Back to Home Page  </a>	
	</section>
	<br>
	<footer>
		<p> Copyright 2021 DARO Corp </p>
	</footer>
</body>
</html>
