<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Babbage</title>
</head>
<body>
	<h1> Babbage Page </h1>

	<img src="https://t1.gstatic.com/licensed-image?q=tbn:ANd9GcQzTsNCdrawy2KSMmC3ys7PvDZrdVCF4hwqHOqR05-KbJYp2uQCFO6iXfmjSyTo" width='400' height='400'alt="babbage" >

	<p> Charles Babbage fue un matemático y científico de la computación británico.Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias. </p>

</body>
</html>
