<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/clarke.css">
	<title>Clarke</title>
</head>
<body>
	<header>
		<h1> Joan Clarke </h1>
	</header>
	<section>
		<img src="/static/img/clarke/clarke.jpg" >
		
		<p> Joan Elisabeth Lowther Murray was an English cryptanalyst and numismatist best known for her work as a code-breaker at Bletchley Park during the Second World War. Although she did not personally seek the spotlight, her role in the Enigma project that decrypted Nazi Germany's secret communications earned her awards and citations, such as appointment as a Member of the Order of the British Empire (MBE), in 1946.  </p>

		<p> Joan Elisabeth Lowther Clarke was born on 24 June 1917 in West Norwood, London, England. She was the youngest child of Dorothy (née Fulford) and the Revd William Kemp Lowther Clarke, a clergyman. She had three brothers and one sister.  </p>

		<p> Clarke attended Dulwich High School for Girls in south London and won a scholarship in 1936, to attend Newnham College, Cambridge, where she gained a double first degree in mathematics and was a Wrangler. She was denied a full degree, as Cambridge only awarded these to men until 1948.  </p>
	</section>
	<section>
		<a href="/" > Back to Home Page </a>
	</section>
	<footer>
		<p> Copyright 2021 DARO Corp  </p>
	</footer>
</body>
</html>
