<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/hopper.css">
	<title>Hopper</title>
</head>
<body>
	<header>
		<h1> Grace Murray Hopper </h1>
	</header>
	<section>
		<img src="/static/img/hopper/hopper.jpg" alt="Hopper" width="700" height="500">
		<p> Hopper was born on December 9, 1906 in New York City. As a child, she attended a preparatory school in New Jersey. Later, she enrolled at Vassar College. After graduating with her bachelor’s degree, Hopper went to Yale University, where she earned her Masters and PhD in Mathematics. Afterwards she began teaching at Vassar College.  </p>

		<p> In 1943, Hopper resigned her position at Vassar to join the Navy WAVES (Women Accepted for Voluntary Emergency Service). In 1944, she was commissioned as a Lieutenant (Junior Grade) and assigned to the Bureau of Ordnance Computation Project at Harvard University. Her team worked on and produced the Mark I, an early prototype of the electronic computer. Hopper wrote a 500-page Manual of Operations for the Automatic Sequence-Controlled Calculator in which she outlined the fundamental operating principles of computing machines. Additionally, while working on the Mark I, Hopper coined the word “bug” to describe a computer malfunction.  </p>

		<p> After the end of the war, Hopper became a research fellow on the Harvard faculty and in 1949, joined the Eckert-Mauchly Corporation, continuing her pioneering work on computer technology. Hopper was involved in the creation of UNIVAC, the first all-electronic digital computer. She invented the first computer compiler, a program that translates written instructions into codes that computers read directly. This work led her to co-develop the COBOL, one of the earliest standardized computer languages. COBOL enabled computers to respond to words in addition to numbers. Hopper also lectured widely on computers, giving up to 300 lectures per year. She predicted that computers would one day be small enough to fit on a desk and people who were not professional programmers would use them in their everyday life.  </p>
	</section>
	<section>
		<a href="/"> Back to Home Page  </a>
	</section>
	<footer>
		<p> Copyright 2021 DARO Corp  </p>
	</footer>
</body>
</html>
