<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="static/css/styles.css">
	<title>Home</title>
</head>
<body>
	<header>

	</header>
	<section>
		<h1>Basic Home Page </h1>
		<article>
			<img src="static/img/babbage.jpg" height="300" width="200" >
			<h3> Babbage </h3>
			<p> Babbage es un progamama </p>
			<a href="#">Ver mas</a>
		</article>
		<article>
			<img src="static/img/berners-lee.jpg" height="300" width="200" >
			<h3> Berners Lee </h3>
			<p> Berners Lee es un progamama </p>
			<a href="#">Ver mas</a>
		</article>
		<article>
			<img src="static/img/clarke.jpg" height="300" width="200" >
			<h3> Clarke </h3>
			<p> Clarke es un progamama </p>
			<a href="#">Ver mas</a>
		</article>
		<article>
			<img src="static/img/hamilton.jpg" height="300" width="200" >
			<h3> Hamilton </h3>
			<p> Hamilton es un progamama </p>
			<a href="#">Ver mas</a>
		</article>
		<article>
			<img src="static/img/hopper.jpg" height="300" width="200" >
			<h3> Hopper </h3>
			<p> Hopper es un progamama </p>
			<a href="#">Ver mas</a>
		</article>
		<article>
			<img src="static/img/lovelace.jpg" height="300" width="200" >
			<h3> Lovelace </h3>
			<p> Lovelace es un progamama </p>
			<a href="#">Ver mas</a>
		</article>
		<article>
			<img src="static/img/turing.jpg" height="300" width="200" >
			<h3> Turing </h3>
			<p> Turing es un progamama </p>
			<a href="#">Ver mas</a>
		</article>
	</section>
	<footer>

	</footer>
</body>
</html>
