<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="static/css/styles.css">
	<title>Heroes</title>
</head>
<body>
	<header>
		<h1>Heroe's Page </h1>
	</header>
	<section>
		<article>
			<img src="static/img/babbage/iconBabbage.jpg" height="300" width="200" >
			<h3> Babbage </h3>
			<p>	Mathematical </p>
			<a href="/babbage"> See more </a>
		</article>
		<article>
			<img src="static/img/berners-lee/iconBerners-lee.jpg" height="300" width="200" >
			<h3> Berners Lee </h3>
			<p> Computer scientist </p>
			<a href="/berners-lee"> See more </a>
		</article>
		<article>
			<img src="static/img/clarke/iconClarke.jpg" height="300" width="200" >
			<h3> Clarke </h3>
			<p> Mathematical </p>
			<a href="clarke"> See more </a>
		</article>
		<article>
			<img src="static/img/hamilton/iconHamilton.jpg" height="300" width="200" >
			<h3> Hamilton </h3>
			<p> Mathematical </p>
			<a href="hamilton"> See more </a>
		</article>
		<article>
			<img src="static/img/hopper/iconHopper.jpg" height="300" width="200" >
			<h3> Hopper </h3>
			<p> Computer scientist </p>
			<a href="hopper"> See more </a>
		</article>
		<article>
			<img src="static/img/lovelace/iconLovelace.jpg" height="300" width="200" >
			<h3> Lovelace </h3>
			<p> Mathematical </p>
			<a href="lovelace"> See more </a>
		</article>
		<article>
			<img src="static/img/turing/iconTuring.jpg" height="300" width="200" >
			<h3> Turing </h3>
			<p> Mathematical </p>
			<a href="turing"> See more </a>
		</article>
	</section>
	<footer>
		<br>
		<p> Algo va aca </p>
	</footer>
</body>
</html>
